<div class="headers-row-wrapper">
  <input type="text" class="header-key" placeholder="HEADER KEY"></input>
  <input type="text" class="header-value" placeholder="HEADER VALUE"></input>
  <div class="header-add-wrapper plus-minus-button">
    <div class="plus-minus-button-text">+</div>
  </div>
</div>
