<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="curlio.css">
  <script type="text/javascript" src="jquery-2.1.1.js"></script>
  <script type="text/javascript" src="ejs.js"></script>
  <script type="text/javascript" src="underscore.js"></script>

  <script>
    $( document ).ready(function() {
      function sendCb(error) {
        console.log(error.message);
      }

      function socketLog(msg) {
        $('#socket-status').append('<div>'+msg+'</div>');
      }

      function appendReqElem(data) {
        var requestElem = new EJS({url: 'request.html.ejs'}).render(data);
        $('#response').prepend(requestElem);
      }

      var socket = new WebSocket('ws://localhost:8001');

      socket.onopen = function(event) { socketLog('Connected to: '+event.currentTarget.url); };

      socket.onerror = function(error) { socketLog('WebSocket Error: '+error); };

      socket.onclose = function(event) { socketLog('Disconnected from WebSocket'); };

      socket.onmessage = function(event) {
        var data = JSON.parse(event.data);

        if (data.event === 'run_complete') {
          $('#run-button').show();
          socketLog('Run '+data.request_name+' in '+data.elapsedtime+'ms');
        } else if (data.event === 'load_complete') {
          socketLog('Loaded '+data.request_name+' in '+data.elapsedtime+'ms');
        } else {
          appendReqElem(data);
        }
      };

      $("#run-button").on('click', function() {
        $('#response').empty();
        var message = JSON.stringify({"url" : $('#url')[0].value});
        socket.send(message, sendCb);
      });

      $('#response').on('click', 'div.plus-minus-button-text', function(event) {
        var elem = $(this).parents("div.request").find("div.req-resp");
        if (this.innerHTML == "+") {
          elem.hide();
          this.innerHTML = "-";
        } else {
          elem.show();
          this.innerHTML = "+";
        }
      });
    });
  </script>

  <title>curlio</title>
</head>
<body>

  <div class="wrapper">
    <div id="form_wrapper" style="height:30px;position:relative;">
      
      <input type="text" id="url" name="url" placeholder="Request Object URL" <% if (url) { %>value="<%= url %>"<% } %> />
      <div id="run-button">
        <div id="run-button-text">RUN</div>
      </div>
    </div>

    <div id="response-wrapper">
      <div id="response">
      </div>
    </div>

    <div id="socket-status">
      <div>Socket status ...</div>
    </div>
  </div>

</body>
</html>
