<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="curlio.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
  <script type="text/javascript" src="http://malsup.github.com/jquery.form.js"></script> 
  <script type="text/javascript" src="ejs.js"></script>
  <script type="text/javascript" src="underscore.js"></script>

  <script>
    $( document ).ready(function() {
      function showRequest(formData, jqForm, options) {
        $('#response').empty();
        $('#spin-wrapper').show();
        return true;
      }

      function showResponse(responseText, statusText, xhr, $form)  {
        var request = responseText.request,
            response = responseText.response;

        $('#spin-wrapper').hide();

        var requestElem = new EJS({url: 'request.html.ejs'}).render({'request' : request});
        $('#response').prepend(requestElem);

        var responseElem = new EJS({url: 'response.html.ejs'}).render({'response' : response});
        $('#response').prepend(responseElem);
      }

      $('#url-form').ajaxForm({
        "beforeSubmit" : showRequest,
        "success" : showResponse
      }); 

      $('#run-button').on('click', function() {
        $('#url-form').submit();
      });
    });
  </script>

  <title>curlio</title>
</head>
<body>

  <div class="wrapper">
    <div id="form_wrapper">
      <form id="url-form" method="post" action="/">
        <input type="text" name="url" title="URL" placeholder="Request Object URL" value="<%= url %>" />
        <div id="run-button"><div id="run-button-text">RUN</div></div>
      </form>

    </div>

    <span id="response-wrapper">
      <span id="spin-wrapper">
        <img src="/img/spin.gif">
      </span>
      <span id="response">
      </span>
    </span>
  </div>

</body>
</html>
